#titulo {
    color: black;
    background-color: whitesmoke;
    text-align: center;
    margin: 4%;
}

#benef {
    margin: 4%;
    text-align: center;
}

.texto {
    font-family: "Times New Roman", Times, serif;
    margin: 1%;
}

.foto {
    height: 400px;
    width: 1500px;
}

body {
    background-color: whitesmoke;
}
